<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <!--Custom Application Settings-->
  <appSettings>
    <add key="TexturesPath" value="None" />
    <add key="AddSkinsPath" value="None" />
    <add key="FirstRun" value="true" />
    <add key="HotReload" value="true" />
    <add key="DCSActive" value="true" />
    <add key="SafeInstall" value="false" />
    <add key="UseFastPreview" value="true" />
    <add key="WatcherEnabled" value="false" />
    <add key="WatcherTempFile" value="Storage/temp.tasp" />
    <add key="WatcherShouldStoreTextures" value="false" />
    <add key="WatcherTempFileOverrided" value="false" />
    <add key="UWPNotificationsAllowed" value="false" />
    <add key="UWPNotificationSilent" value="true" />
    <add key="InstalledServerPackageName" value="Dylan's"/>
	  <add key="OverlayEnabled" value="false"/>
	  <add key="InfopanelFontColor" value="255 153 255 153"/>
	  <add key="InfopanelFontSize" value="16"/>
	  <add key="InfopanelXOffset" value="0"/>
	  <add key="InfopanelYOffset" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>