<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <!--Custom Application Settings-->
    <appSettings>
      <add key="TexturesPath" value="None"/>
      <add key="AddSkinsPath" value="None"/>
      <add key="FirstRun" value="true"/>
      <add key="HotReload" value="true"/>
      <add key="DCSActive" value="true"/>
      <add key="SafeInstall" value="false"/>
		<add key="UseFastPreview" value="true"/>
		<add key="WatcherEnabled" value="false"/>
		<add key="WatcherTempFile" value="store/temp.tasp"/>
		<add key="WatcherShouldStoreTextures" value="false"/>
		<add key="WatcherTempFileOverrided" value="false"/>
		<add key="UWPNotificationsAllowed" value="true"/>
		<add key="UWPNotificationSilent" value="true"/>
    </appSettings>
</configuration>
